.ipynb_checkpoints/13_11_2023 test-checkpoint.ipynb
13_11_2023 test.ipynb
__pycache__/regularization.cpython-310.pyc
__pycache__/regularization.cpython-311.pyc
__pycache__/ultimaoct.cpython-310 (DESKTOP-3SHH6FUs in Konflikt stehende Kopie 2023-11-23).pyc
__pycache__/ultimaoct.cpython-310.pyc
__pycache__/ultimaoct.cpython-311.pyc
__pycache__/utils.cpython-310.pyc
__pycache__/utils.cpython-311.pyc
.ipynb_checkpoints/ultimaoct-checkpoint.py
